


<div class="row">
    <div class="col-md-6">
        <mat-card class="example-card mb-4" *ngIf="postObj; else nopostData">
            <mat-card-header>
              <mat-card-title>
                {{postObj.title}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{postObj.content}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button 
              mat-raised-button color="primary"
                mat-button
                routerLink="edit"
                >Edit</button>
                <button 
                mat-raised-button color="warn"
                  mat-button
                  (click)="onRemove()"
                  >Remove</button>
            </mat-card-actions>
          </mat-card>
          <ng-template #nopostData>
            <p class="alert alert-info">no post Availble !!!</p>
          </ng-template>
    </div>
    <div class="col-md-6"></div>
</div>
